<% if @last_game %>
  <div class="row random_color lighten-5 z-depth-1 valign-wrapper" style="height:200px;">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
            <h3>Game Over. You scored <strong><%=@last_game.score%></strong> <%=settings.genres[@last_game.genre].downcase%> points.</h3>

            <p><a href="javascript:shareScoreToFacebook('I scored <%=@last_game.score%> <%=settings.genres[@last_game.genre].downcase%> points on picktun.es!');">Share your score on Facebook</a></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container" style="margin-top:5%">
  <div class="row">
    <div class="col s12 m6">
	<h5 style="margin:0;">Top Players - <span id="timeframe">Latest</span></h5>
    </div>
    <div class="col s12 m6 right-align">
	<a class="waves-effect waves-light btn" href="/">Play Again</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#latest">Latest</a></li>
        <li class="tab col s6"><a href="#all_time">All Time</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="scores" id="latest"></div>
      <div class="scores" id="all_time"></div>
    </div>
  </div>
</div>

<script id="scoresListTemplate" type="text/x-jquery-tmpl">
  <div class="row">
    {{each(genre,games) scores}}
      <div class="col s12 m6 l4">
        <div class="card-panel random_color lighten-4">
          <h5><strong>${genre}</strong></h5>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>NAME</th>
                <th>SCORE</th>
                <th>DATE</th>
              </tr>
            </thead>
            <tbody>
              {{each games}}
                <tr class="${last_game_id == id ? 'yellow lighten-5' : ''}">
                  <td><strong>${index}</strong></td>
                  <td>${username}</td>
                  <td style="text-align:center;"><strong>${score}</strong></td>
                  <td>${created_at}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>
</script>


<script>
$(document).ready(function() {

	$.get("/scores.json?filter=latest", function(data) {
		$("#latest").html($("#scoresListTemplate").tmpl({
			scores: data,
			last_game_id: <%=@last_game ? @last_game.id : 'null'%>
		}));

		$('.random_color').each(function() {
			$(this).addClass(Colors.getRandom());
		});
	});

	$.get("/scores.json?filter=all_time", function(data) {
		$("#all_time").html($("#scoresListTemplate").tmpl({
			scores: data,
			last_game_id: <%=@last_game ? @last_game.id : 'null'%>
		}));

		$('.random_color').each(function() {
			$(this).addClass(Colors.getRandom());
		});
	});

	var tabs = M.Tabs.init(document.querySelector('.tabs'), {
		onShow: function(el) {
			if (el.id == 'all_time') {
				$('#timeframe').html('All Time');
			} else {
				$('#timeframe').html('Latest');
			}
		}
	});
});
</script>
