<div class="container">
  <div class="row">
    <div class="twelve columns" style="margin-top: 10%">
      <% if @last_game %>
        <div style="text-align:center;margin-bottom:50px;">
          <h2>Game Over. You scored <strong><%=@last_game.score%></strong> <%=settings.genres[@last_game.genre].downcase%> points.</h2>

	  <% if @highscore %>
		<h3 class="green">You made the top 10 list!</h3>
	  <% end %>

	  <p>
		<a href="javascript:shareScoreToFacebook('I scored <%=@last_game.score%> <%=settings.genres[@last_game.genre].downcase%> points on picktun.es!');">Share your score on Facebook</a>
	  </p>

        </div>
      <% end %>

      <div class="u-pull-left">
        <h4>Top Players</h4>
      </div>
      <div class="u-pull-right">
        <a class="button button-primary" href="/">Play Again</a>
      </div>
      <br class="u-cf" />
      <div class="scores">
        <% @grouped_games.each do |genre,games| %>
          <div class="scorecard">
            <h5><strong><%=settings.genres[genre]%></strong></h5>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Score</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% games.each_with_index do |game,index| %>
                  <tr class="<%=params[:last_game_id]==game.id.to_s ? 'last_game' : ''%>">
                    <td><strong><%=index + 1%></strong></td>
                    <td><%=game[:username]%></td>
                    <td style="text-align:center;"><strong><%=game[:score]%></strong></td>
                    <td><%=game[:created_at].strftime("%m/%d/%Y")%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

