<h4>All-Time <%=@genre%> Players</h4>
<table class="bordered striped">
        <thead>
                <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>SCORE</th>
                        <th>DATE</th>
                </tr>
        </thead>
        <tbody>
                <% @games.each_with_index do |game,index| %>
                        <tr>
                                <td><strong><%=index + 1%></strong></td>
                                <td><%=game[:username]%></td>
                                <td style="text-align:center;"><strong><%=game[:score]%></strong></td>
                                <td><%=game[:created_at].strftime("%m/%d/%Y")%></td>
                        </tr>
                <% end %>
        </tbody>
</table>
