<% if @last_game %>
  <div class="row <%=settings.available_colors.sample(1).first%> lighten-5 z-depth-1">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
            <h3>Game Over. You scored <strong><%=@last_game.score%></strong> <%=settings.genres[@last_game.genre].downcase%> points.</h3>

            <% if @highscore %>
                  <p class="flow-text">You made the top 10 list!</p>
            <% end %>

            <p class="flow-text">
                  <a href="javascript:shareScoreToFacebook('I scored <%=@last_game.score%> <%=settings.genres[@last_game.genre].downcase%> points on picktun.es!');">Share your score on Facebook</a>
            </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container" style="margin-top:5%">
  <div class="row">
    <div class="col s12">
      <div class="left">
        <h4>Top Players</h4>
      </div>
      <div class="right">
	<a class="waves-effect waves-light btn" href="/">Play Again</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="scores">
        <% @grouped_games.each do |genre,games| %>
          <div class="card-panel hoverable <%=@colors.next%> lighten-4" data-id="<%=genre%>">
            <h5>
                  <strong><%=settings.genres[genre]%></strong> 
                  <span class="stats right" title="Average score of <%=@averages[genre]%> points out of <%=@totals[genre]%> total games played in this genre">avg score: <%=@averages[genre]%></span>
            </h5>
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>NAME</th>
                  <th>SCORE</th>
                  <th>DATE</th>
                </tr>
              </thead>
              <tbody>
                <% games.slice(0,10).each_with_index do |game,index| %>
                  <tr class="<%=params[:last_game_id]==game.id.to_s ? 'yellow lighten-3' : ''%>">
                    <td><strong><%=index + 1%></strong></td>
                    <td><%=game[:username]%></td>
                    <td style="text-align:center;"><strong><%=game[:score]%></strong></td>
                    <td><%=game[:created_at].strftime("%m/%d/%Y")%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div id="scores_modal" class="modal modal-fixed-footer">
  <div class="modal-content"></div>
</div>

<script>
$(document).ready(function() {
	$('.card-panel').click(function() {
		$.get("/scores/" + $(this).data('id'), function(data) {
			$('#scores_modal .modal-content').html(data);
			$('#scores_modal').openModal();			
		});
	});
});
</script>
